body {
    font-family: comic, sans-serif;
    MARGIN: 0;
    color: #332f2e;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

.curiosidades {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.curiosidade-card h3{
    transform: scale(1.05);
}
.curiosidade-card h3{
    color:  #332f2e;
}

@media (max-width: 600px) {
    header h1{
        FONT-SIZE: 1.5rem;
    }

    .curiosidade-card {
        width: 90%;
    }
}