body {
    font-family: comic, sans-serif;
    line-height: 1.6;
    MARGIN: 0;
    color: #332f2e;
}

header {
    background-color: #a96dff;
    color: #332f2e ;
    text-align: center;
    padding: 1.5rem 1rem;

}


li {
  width: calc((100vw / 3) - 20px);
  display: inline-block;
}


footer {
    background-color: #a96dff;
      color: #332f2e ;
    text-align: center;
     padding: 1.5rem 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

nav ul li a:hover {
    color: #A2E0EC
}

nav a {
    color: rgb(30, 26, 26);
    text-decoration: none;
    font-weight: bold;
}


header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

section.curiosidades {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

section.curiosidade-card{
    background-color:  #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    transition: transform 0.3s ease;
}


/* Resets */
img {
  max-width: 100%;
}




ul {
  columns: 3;
}



.curiosidade-card h3{
    transform: scale(1.05);
}
.curiosidade-card h3{
    color:  #332f2e;
}

@media (max-width: 600px) {
    header h1{
        FONT-SIZE: 1.5rem;
    }

    .curiosidade-card {
        width: 90%;
    }
}